
nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #039be5;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.selected-language {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected-language-mobile {
  background-color: rgba(0, 0, 0, 0.05);
}

.image {
    max-width: 100%;
    margin: 1.64rem 0 0.656rem 0;
    width: 450px;
}

.date {
    margin-top: -0.5em;
}

.scrollfire-list {
    opacity: 1;
    transform: translateX(0px);
}

footer.page-footer {
    margin: 0;
}

#logo-container img {
    height: 64px;
}

@media screen and (max-width:599px) {
    #logo-container img {
        height: 56px;
    }
}

#logo-container span {
    display: inline-block;
}

.contact-list-icon {
    display: inline-block;
    text-align: center;
    width: 13px;
}

#top_icon {
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-top: 3em;
    width: 180px;
}
